#back-button,
#forward-button,
#home-button,
#navigator-toolbox:after,
#pageActionButton,
#reload-button,
#urlbar-zoom-button,
.scrollbutton-down,
.scrollbutton-up,
.tab-icon-image,
.tabbrowser-tab .tab-close-button,
.tabbrowser-tab:not(:hover):not([selected]) .tab-close-button {
    display: none !important;
}

#urlbar {
    border-radius: 20px !important;
    height: 28px !important;
    border: none !important;
    background-color: var(--urlbar-bg) !important;
    color: var(--urlbar-fg) !important;
    box-shadow: none !important;
}

#nav-bar {
    background-image: none !important;
    background-color: var(--main) !important;
    height: 37px !important;
    box-shadow: none !important;
}

.tab-line {
    background-color: #57c7ff !important;
}

.tabbrowser-tab:after {
    transform: scaleY(0.6) !important;
    background-color: gray;
}

#main-window[sizemode='normal'] #new-tab-button {
    margin-top: 0px !important;
}

#main-window[sizemode='normal'] #tabbrowser-tabs {
    margin-top: 0px !important;
}

#new-tab-button {
    margin: 0px -2px 0 8px !important;
}

#TabsToolbar {
    -moz-appearance: none !important;
    background: var(--secondary) !important;
    color: inherit !important;
    padding-inline-end: 2px !important;
}

.tabbrowser-tab[selected='true'] .tab-background {
    background: var(--main) !important;
    color: var(--selected-fg) !important;
    z-index: 100 !important;
}

#tabbrowser-tabs {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    background: var(--secondary) !important;
    color: var(--unselected-fg) !important;
}

.tabbrowser-tab:not([selected]):hover .tab-background {
    filter: brightness(1.1) !important;
    z-index: 100 !important;
}

#PanelUI-button {
    border: none !important;
    margin-left: 0px !important;
}

#PanelUI-menu-button {
    padding-left: 0px !important;
}
