@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    body {
        background: #282a36 !important;
    }
}

@-moz-document url-prefix("https://news.ycombinator.com") {
    body,
    #hnmain {
        background-color: #282a36;
    }
}

@-moz-document url-prefix("https://invidio.us"), url-prefix("https://www.invidio.us") {
    a:hover,
    a:active {
        color: rgb(0, 182, 240);
    }

    a,
    a p {
        color: #61809b;
        text-decoration: none;
    }

    body {
        background-color: #282a36;
        color: #f0f0f0;
    }

    .pure-form legend {
        color: #f0f0f0;
    }

    .pure-menu-heading {
        color: #f0f0f0;
    }

    .pure-form > fieldset > input,
    .pure-control-group > input,
    .pure-form > fieldset > select,
    .pure-control-group > select {
        color: #282a36;
    }

    .pure-form input[type='file'] {
        color: #f0f0f0;
    }

    .navbar > .searchbar input {
        background-color: inherit;
        color: inherit;
    }
    .icon {
        color: white !important;
    }
}

:root {
    scrollbar-color: rgb(119, 136, 153) #282a36;
}
* {
    scrollbar-width: thin;
}
@-moz-document url-prefix("about:") {
    xul|page,
    xul|scrollbar {
        scrollbar-color: rgb(119, 136, 153) #282a36;
        scrollbar-width: thin;
    }
}
